:root {
	--dark-red: #910e0e;
	--dark-blue: #6d99c6;
  --selection: rgb(60, 179, 113);
  --hover-selection: rgba(60, 179, 113, 0.85);
}

html {
  font-family: Quicksand, avenir, sans-serif;
}
html, body {
	width: 100vw;
	height: 100vh;
	overflow: auto;
	padding: 0;
	margin: 0;
}

#layers { padding-left: 20px;}
#layers .layer {
	position: relative;
	transition: transform .5s ease-out;
	transform-origin: -20px -60px;
}
#layers .layer.prev { transform: translate(-200vw, 0); }
#layers .layer.next { transform: translate(0, -200vh); }

#actions {
	position: absolute;
	bottom: 5px;
	right: 20px;
}

.chip-input {
  font-family: avenir;
  display: inline-block;
  border: 1px solid gray;
  border-radius: 4px;
  cursor: text;
}

.chip-input input {
  font-family: avenir;
  display: inline;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

.chip-input .chip {
  display: inline-block;
  padding: 4px;
  margin: 2px;
  border-radius: 4px;
  font-family: avenir;
  background-color: #910e0e;
  color: white;
}

.chip.selected {
  background-color: #914e0e
}

#combo-editor {
  position: relative;
  z-index: 2;
}
#combo-editor label::before { display: inline-block; content: '▶︎'; transform: rotate(90deg); }
#combo-editor.closed label::before { transform: rotate(0deg); }
#combo-editor.closed table { display: none; }

.combo-selector {
  background: rgba(255, 255, 255, 0.8);
}
.combo-selector .chip-input:not(.active) { border: none; }
.combo-selector .chip-input:not(.active) input { display: none; }
