:root {
	--dark-red: #910e0e;
	--dark-blue: #6d99c6;
}

html { font-family: avenir, sans-serif; }
html, body {
	width: 100vw;
	height: 100vh;
	overflow: auto;
	padding: 0;
	margin: 0;
}

#layer-selector { position: relative; z-index: 2; }
#layer-selector * { display: inline-block; }
#layer-selector ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#layer-selector li {
	cursor: pointer;
	background-color: lightgray;
	color: darkgray;
	border-radius: 5px;
	padding: 5px;
	margin: 2px;
}
#layer-selector li.active {
	background-color: mediumseagreen;
	color: white;
}

#layers { padding-left: 20px;}
#layers .layer {
	position: relative;
	transition: transform .5s ease-out;
	transform-origin: -20px -60px;
}
#layers .layer.prev { transform: translate(-200vw, 0); }
#layers .layer.next { transform: translate(0, -200vh); }

[data-u="1"] { width: 60px; }
[data-u="2"] { width: 125px; }
[data-h="1"] { height: 60px; }
[data-h="2"] { height: 125px; }

.key {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;

	color: #999;
	font-size: 110%;
	border: 1px solid lightgray;
	border-radius: 5px;
}
.key:hover {
	background-color: var(--dark-red);
	/*transition: 250ms;*/
	z-index: 1;
}
.key:hover .code {
	background-color: var(--dark-red);
	color: white;
}
.key > .code {
	padding: 5px;
}

.key[data-depth="3"] { font-size: 90%; }
.key[data-depth="5"] { font-size: 75%; }

.code {
	cursor: pointer;
	display: inline-block;
	box-sizing: content-box;
	min-width: 0.5em;
	text-align: center;
	border-radius: 4px;
}
.code.highlight {
	background-color: white !important;
	color: var(--dark-red) !important;
}

.params::before { content: '('; opacity: 0.4; font-weight: bold; margin: 2px; }
.params::after { content: ')'; opacity: 0.4; font-weight: bold; margin: 2px; }
.param:not(:last-child)::after { content: ','; }
.param[data-code="undefined"]::before { content: '∅'; font-size: 80%; }

#search {
	position: absolute;
	transform: translate(-60px, -30px);
	z-index: 2;
}
#search p {
	margin: 0;
	font-size: 90%;
	font-weight: bold;
}
#search input {
	display: block;
	padding: 0;
	margin: 0;
	width: 120px;
	height: 60px;
	font-size: 120%;
	border: 2px solid steelblue;
	border-radius: 4px;

	text-align: center;
	line-height: 60px;
}
ul.search-results {
	font-family: monospace;
	list-style-position: inside;
	list-style-type: none;
	max-height: 200px;
	overflow: scroll;
	padding: 4px;
	background: rgba(0, 0, 0, 0.8);
	border-radius: 4px;
}
.search-results li {
	cursor: pointer;
	color: white;
	padding: 5px;
}
.search-results li:hover {
	background: white;
	color: black;
}
.search-results li b { color: red; }

#terminal {
	position: absolute;
	bottom: 0px;
	width: 100%;
	opacity: 0.85;
}
#terminal:hover {
	opacity: 0.98;
}

#terminal > .collapsed {
	overflow: hidden;
	height: 30px;
}

#terminal .xterm-screen {
	/*margin: auto;*/
}

#actions {
	position: absolute;
	bottom: 5px;
	right: 20px;
}

.chip-input {
  font-family: avenir;
  display: inline-block;
  border: 1px solid gray;
  border-radius: 4px;
  cursor: text;
}

.chip-input input {
  font-family: avenir;
  display: inline;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

.chip-input .chip {
  display: inline-block;
  padding: 4px;
  margin: 2px;
  border-radius: 4px;
  font-family: avenir;
  background-color: #910e0e;
  color: white;
}

.chip.selected {
  background-color: #914e0e
}

#combo-editor {
  position: relative;
  z-index: 2;
}
#combo-editor label::before { display: inline-block; content: '▶︎'; transform: rotate(90deg); }
#combo-editor.closed label::before { transform: rotate(0deg); }
#combo-editor.closed table { display: none; }

.combo-selector {
  background: rgba(255, 255, 255, 0.8);
}
.combo-selector .chip-input:not(.active) { border: none; }
.combo-selector .chip-input:not(.active) input { display: none; }
