:root {
	--dark-red: #910e0e;
	--dark-blue: #6d99c6;
}

html { font-family: avenir, sans-serif; }
html, body {
	width: 100vw;
	height: 100vh;
	overflow: auto;
	padding: 0;
	margin: 0;
}

#layers { padding-left: 20px;}
#layers .layer {
	position: relative;
	transition: transform .5s ease-out;
	transform-origin: -20px -60px;
}
#layers .layer.prev { transform: translate(-200vw, 0); }
#layers .layer.next { transform: translate(0, -200vh); }

.code {
	cursor: pointer;
	display: inline-block;
	box-sizing: content-box;
	min-width: 0.5em;
	text-align: center;
	border-radius: 4px;
}
.code.highlight {
	background-color: white !important;
	color: var(--dark-red) !important;
}

.params::before { content: '('; opacity: 0.4; font-weight: bold; margin: 2px; }
.params::after { content: ')'; opacity: 0.4; font-weight: bold; margin: 2px; }
.param:not(:last-child)::after { content: ','; }
.param[data-code="undefined"]::before { content: '∅'; font-size: 80%; }

#terminal {
	position: absolute;
	bottom: 0px;
	width: 100%;
	opacity: 0.85;
}
#terminal:hover {
	opacity: 0.98;
}

#terminal > .collapsed {
	overflow: hidden;
	height: 30px;
}

#terminal .xterm-screen {
	/*margin: auto;*/
}

#actions {
	position: absolute;
	bottom: 5px;
	right: 20px;
}

.chip-input {
  font-family: avenir;
  display: inline-block;
  border: 1px solid gray;
  border-radius: 4px;
  cursor: text;
}

.chip-input input {
  font-family: avenir;
  display: inline;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

.chip-input .chip {
  display: inline-block;
  padding: 4px;
  margin: 2px;
  border-radius: 4px;
  font-family: avenir;
  background-color: #910e0e;
  color: white;
}

.chip.selected {
  background-color: #914e0e
}

#combo-editor {
  position: relative;
  z-index: 2;
}
#combo-editor label::before { display: inline-block; content: '▶︎'; transform: rotate(90deg); }
#combo-editor.closed label::before { transform: rotate(0deg); }
#combo-editor.closed table { display: none; }

.combo-selector {
  background: rgba(255, 255, 255, 0.8);
}
.combo-selector .chip-input:not(.active) { border: none; }
.combo-selector .chip-input:not(.active) input { display: none; }
